.StartScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    background-color: #ddd;
    height: 100vh;
    width: 100%;
}

.StartScreen h1 {
    color: #c5c5c5;
}

.StartScreen svg {
    height: 10rem;
    width: 10rem;
    fill: #c5c5c5;
    margin-top: 2rem;
}