.Window {
    height: 100vh;
    width: 100%;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: scroll;
}

.Window h2 {
    display: inline-block;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.Window input {
    width: 80%;
    padding: 1rem 2rem;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border: none;
    background-color: #fff;
    box-shadow: 2px 2px 4px rgba(0,0,0, .5);
    margin-bottom: 6rem;
}

.Window button {
    width: 80%;
    padding: 1rem 2rem;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border: none;
    background-color: #fff;
    box-shadow: 2px 2px 4px rgba(0,0,0, .5);
}

.Window button:not(:last-child) {
    margin-bottom: 1rem;
}