.Window {
    height: 100vh;
    background-color: #fff;
    overflow: auto;
    padding: 5rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.Window h2 {
    display: inline-block;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.Window h2 span {
    display: block;
    font-size: 2.2rem;
    font-weight: 400;
}

.Window input {
    width: 80%;
    padding: 1rem 2rem;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border: 2px solid transparent;
    background-color: #fff;
    box-shadow: 2px 2px 4px rgba(0,0,0, .5);
    margin-bottom: 6rem;
    transition: all .3s;
}

.Window button {
    width: 80%;
    padding: 1rem 2rem;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border: none;
    background-color: #fff;
    box-shadow: 2px 2px 4px rgba(0,0,0, .5);
}

.Window button:not(:last-child) {
    margin-bottom: 1rem;
}

.Window h5 {
    width: 80%;
    margin: 2rem 0;
}

.Window .Name {
    padding: 1rem 2rem;
    border: 1px solid currentColor;
    margin-top: 1rem;
}

.Window p:not(:last-of-type) {
    margin-bottom: 1.5rem;
}

.Window p:last-of-type {
    margin-bottom: 6rem;
}