.Expense {
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    border-radius: 4px;
}

.Expense:nth-child(2n) {
    background-color: #eee;
}

.Main,
.Sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.Sub {
    flex-wrap: wrap;
    border: 2px solid transparent;
    transition: all .3s;
}

.Sub.Hidden {
    display: none;
}

.Expense .Main input,
.Expense .Sub input {
    margin-bottom: 0;
    padding: .2rem .5rem;
    font-size: 1.2rem;
    color: inherit;
}

.Expense .Main input {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.Expense .Sub div {
    width: 30%;
    margin-bottom: .5rem;
}

.Expense .Sub label {
    font-size: 1.4rem;
    display: block;
}

.Expense i {
    font-size: 2rem;
    color: #c5c5c5;
}

@media (min-width: 500px) {
    .Expense .Main input,
    .Expense .Sub input {
        margin-bottom: 0;
        padding: .8rem 1.5rem;
        font-size: inherit;
    }

    .Expense .Main input {
        margin-bottom: 1.5rem;
    }
    
    .Expense .Sub label {
        font-size: 1.8rem;
        display: block;
    }
    
    .Expense i {
        font-size: 3rem;
        color: #c5c5c5;
    }
} 